@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
	/* Default colorset */
	--background: oklch(0.98 0.002 264);
	--foreground: oklch(0.21 0.034 264);
	--accent: oklch(0.8 0.13 175);
	--accent-foreground: oklch(0.21 0.034 264);

	/* Alternative colorset 1 */
	--background-alt1: oklch(0.21 0.034 264);
	--foreground-alt1: oklch(0.98 0.002 264);
	--accent-alt1: oklch(0.7 0.19 22);
	--accent-foreground-alt1: oklch(0.21 0.034 264);

	/* Alternative colorset 2 */
	--background-alt2: #2B2D6E;
	--foreground-alt2: oklch(0.98 0.002 264);
	--accent-alt2: oklch(0.8 0.13 175);
	--accent-foreground-alt2: oklch(0.21 0.034 264);

	--border-radius: 0.5rem; /* slight rounded corners for buttons, nav items */

	/* Derived colors - these can be overridden per site, but I don't recommend it */
	/*--foreground-muted: oklch(from var(--foreground) l c h / 50%); */ /* subtitles, secondary text */
	--foreground-subtle: transparent; /*color-mix(in oklch, var(--background) 90%, var(--foreground) 8%); */ /* hairlines, borders - fully opaque warm grey */
	--accent-muted: oklch(from var(--accent) l c h / 50%); /* hover states, fills */
	--background-accent: color-mix(in oklch, var(--background) 50%, white 50%); /* lighter background - fully opaque */

	/* Editor colors - purple/violet complements teal accent */
	--editing-fill-color: oklch(59.71% 0.22 283 / 0.1);
  --editing-stroke-color: oklch(59.71% 0.22 283);
}


@theme {
	--max-width-8xl: 90rem;

	--font-*: initial;
	--font-body: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-heading: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--default-font-family: var(--font-body);
}

@layer utilities {
	.ew-bg-checkerboard {
		background:
			linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%),
			linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%),
			linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%),
			linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%);
		background-size: 20px 20px;
		background-position:
			0 0,
			0 10px,
			10px -10px,
			-10px 0px;
		background-color: rgba(255, 255, 255, 0.5);
	}

	/* Colorset utility classes - remap base variables to alternative sets */
	.ew-colorset-1 {
		--background: var(--background-alt1);
		--foreground: var(--foreground-alt1);
		--accent: var(--accent-alt1);
		--accent-foreground: var(--accent-foreground-alt1);
	}

	.ew-colorset-2 {
		--background: var(--background-alt2);
		--foreground: var(--foreground-alt2);
		--accent: var(--accent-alt2);
		--accent-foreground: var(--accent-foreground-alt2);
	}
}
