@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
	/* Base colors - configure these per site */
	--background: oklch(92.8% 0.006 264.531); /* light grey */
	--foreground: oklch(20.5% 0 0); /* almost black */
	--accent: oklch(45% 0.31 285); /* purple */

	/* Derived colors - these can be overridden per site, but I don't recommend it */
	--foreground-muted: oklch(from var(--foreground) l c h / 50%); /* subtitles, secondary text */
	--foreground-subtle: oklch(from var(--foreground) l c h / 10%); /* hairlines, borders */
	--accent-muted: oklch(from var(--accent) l c h / 50%); /* hover states, fills */

	/* Editor colors */
	--editing-fill-color: oklch(59.71% 0.22 283 / 0.1);
	--editing-stroke-color: oklch(59.71% 0.22 283);
}

@theme {
	--inline-page-margin: --spacing(5);
	--two-column-inline-margin: --spacing(15);
	--max-width-8xl: 90rem;
	--color-editing: oklch(59.71% 0.22 283);
	--color-editing-fill: oklch(59.71% 0.22 283 / 0.1);
}

@layer utilities {
	.ew-bg-checkerboard {
		background:
			linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%),
			linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%),
			linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%),
			linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%);
		background-size: 20px 20px;
		background-position:
			0 0,
			0 10px,
			10px -10px,
			-10px 0px;
		background-color: rgba(255, 255, 255, 0.5);
	}
}
